@model IEnumerable<StaffManagementMicroservice.Models.StaffPermissions>

@{
    ViewData["Title"] = "Delete Permissions";
}

<h1>Delete Permissions</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permissions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Permissions)
            </td>
            <td>
                <a asp-action="Delete"  asp-route-StaffID="@item.StaffID" asp-route-Permissions="@item.Permissions" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
